* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

body {
  background: #000;
  color: #eaeaea;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  padding: 16px 24px;
}

.logo {
  color: #00ff9c;
  font-size: 18px;
}

/* Content */
.container {
  text-align: center;
  margin-top: 80px;
  padding: 0 20px;
}

.tag {
  display: inline-block;
  padding: 6px 14px;
  border: 1px solid #222;
  color: #7cffcb;
  margin-bottom: 20px;
  font-size: 13px;
}

/* RPG TEXT */
.rpg-text {
  background: linear-gradient(90deg, #00ff9c, #00bfff, #b84dff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rpg-soft {
  color: #9affd1;
}

/* Title */
.title {
  font-size: 34px;
  margin-bottom: 10px;
}

/* Typing text */
.typing {
  font-size: 14px;
  height: 20px;
  margin-bottom: 20px;
  color: #ffd369;
  text-shadow: 0 0 8px rgba(255, 211, 105, 0.6);
}

/* Desc */
.desc {
  font-size: 13px;
  margin-bottom: 40px;
  opacity: 0.8;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.rpg-btn {
  background: #0a0a0a;
  border: 1px solid #222;
  color: #00ff9c;
  padding: 14px 26px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.rpg-btn:hover {
  color: #000;
  background: linear-gradient(90deg, #00ff9c, #00bfff);
  box-shadow: 0 0 20px #00ff9c;
}